div{
    background-color:#E6E6FA;	
    text-align:center;
    
}

#Header{
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	border:solid 2px black;
	text-align:center;
	padding: 15px;
	margin-bottom: 10px;
	border:solid 10px black;
    font-family: 'Oswald', sans-serif;
   font-size: 35px;
}
body{
    background-image: url(restaurant.png)
}

label{
 font-family: 'Asar', serif;
 font-weight: bold;
 font-size: 20px;
 color: #FFBC00;
 padding-bottom: 8px;
}

img{
    float: left;
}